include head

body
h1(id="rh1") Resultatrapportering

div(id="box")
    
    form(action="")
        input(type="text", id="m", placeholder="Vallokal" autocomplete="off")
        input(type="text", id="a", placeholder="Parti" autocomplete="off")
        input(type="number", id="b", placeholder="Antal" autocomplete="off")
        button Send